<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title%></title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="css/fileinput/fileinput.min.css" rel="stylesheet">

    <link href="css/style.css?v=4.1.0" rel="stylesheet">


    <link href="themes/explorer/theme.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="js/fileinput/plugins/sortable.js" type="text/javascript"></script>
    <script src="js/fileinput/fileinput.js" type="text/javascript"></script>
    <script src="themes/explorer/theme.js" type="text/javascript"></script>

    <style type="text/css">

        img.fileImage {
            width: 100%;
            height: auto;
            position: relative;
            margin-bottom: 10px;
        }
    </style>

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div id="container" class="ibox-content">

                    <div class="form-horizontal">
                        <div class="form-group">
                            <% if (locals.success) { %>
                            <div id="alt_sucess" class="alert alert-success">
                                <%- success %>
                            </div>
                            <% } %>

                            <% if (locals.error) { %>
                            <div id="alt_warning" class="alert alert-warning">
                                <%= error %>
                            </div>
                            <% } %>
                            <label class="col-sm-2 control-label">菜品图片</label>

                            <div class="col-sm-10">
                                <img id="fileImage" class="fileImage" src="<%= imgName %>">

                                <div class="btns_container">
                                    <input id="imageFile" name="imageFile" type="file" class="file"
                                           data-show-preview="false">
                                    <input type="hidden" name="img_id" value="1_1_1">
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称</label>

                            <div class="col-sm-10">
                                <input id="caseName" name="caseName" type="text" class="form-control" value="<%= caseName%>">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">价格</label>

                            <div class="col-sm-10">
                                <div class="input-group m-b"><span class="input-group-addon">&yen;</span>
                                    <input id="price" name="price" type="number" class="form-control"
                                           value="<%= price%>"> <span
                                            class="input-group-addon">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">热度</label>

                            <div class="col-sm-10">
                                <select id="hot_select" class="form-control m-b">
                                    <option>选择</option>
                                    <option value="1">1星好评</option>
                                    <option value="2">2星好评</option>
                                    <option value="3">3星好评</option>
                                    <option value="4">4星好评</option>
                                    <option value="5">5星好评</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否上架</label>

                            <div class="col-sm-10">
                                    <select id="scaling" class="form-control m-b">
                                        <option>上架</option>
                                        <option>下架</option>
                                    </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit" id="save">保存内容</button>
                                <button class="btn btn-white" type="button" id="cancel">取消</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Web Uploader -->
<!-- 全局js -->
<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.6"></script>
<script src="js/fileinput/fileinput.min.js"></script>

<script type="text/javascript">
    var isAmending = true;
    var caseTypeId = '<%=caseTypeId%>';
</script>
<!-- 自定义js -->
<script src="js/content.js?v=1.0.0"></script>
<script src="js/plugins/imageUploader/imageUploader.js"></script>
<script src="js/plugins/layer/layer.min.js"></script>
<script src="js/regex/regex.js"></script>

<script type="text/javascript">

    var hotId = "<%=hotId %>";
    var caseId = "<%=caseId %>";

    $("#hot_select option[value='"+hotId+"']").attr("selected", true);

    $("#cancel").click(function () {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    });

    $(function(){
        document.onkeydown = function(e){
            var ev = document.all ? window.event : e;
            if(ev.keyCode==13) {
                $('#save').click();
            }
        }
    });

</script>
</body>

</html>