<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title%></title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="css/plugins/chosen/chosen.css" rel="stylesheet">

    <link href="css/style.css?v=4.1.0" rel="stylesheet">

    <link href="themes/explorer/theme.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="js/fileinput/fileinput.js" type="text/javascript"></script>
    <script src="themes/explorer/theme.js" type="text/javascript"></script>


    <style type="text/css">
    </style>

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div id="container" class="ibox-content">

                    <div class="form-horizontal">
                        <div class="form-group">
                            <% if (locals.success) { %>
                            <div id="alt_sucess" class="alert alert-success">
                                <%- success %>
                            </div>
                            <% } %>

                            <% if (locals.error) { %>
                            <div id="alt_warning" class="alert alert-warning">
                                <%= error %>
                            </div>
                            <% } %>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">添加属性</label>

                            <div class="col-sm-10">
                                <div class="input-group property_1">
                                    <select data-placeholder="选择属性名称..." class="chosen-select chosen-select-1"
                                            style="width:240px;"
                                            tabindex="2">
                                        <option value="">请选择属性值</option>
                                        <%results.forEach(function(result){%>
                                        <option value="<%= result.dataValues.casePropertyId%>" hassubinfo="true"><%=
                                            result.dataValues.casePropertyName%>
                                        </option>
                                        <%})%>
                                    </select>
                                </div>
                                <div class="input-group property_2" style="margin-top: 5px">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Web Uploader -->
<!-- 全局js -->
<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.6"></script>

<!-- 自定义js -->
<script src="js/content.js?v=1.0.0"></script>
<script src="js/plugins/layer/layer.min.js"></script>
<script src="js/plugins/chosen/chosen.jquery.js"></script>
<script src="js/demo/form-advanced-demo.js"></script>

<script type="text/javascript">

	var casePropertyVals = JSON.parse('<%=JSON.stringify(results) %>'.replace(/&#34;/g, '"'));
	var result = {};

	$(".chosen-select-1").on('change', function () {

		var casePropertyIndex = $('option:selected', '.chosen-select-1').index() - 1;
		if (casePropertyIndex < 0) {
			$(".property_2").html("");
			result = null;
			return;
		}
		result.ruleId = casePropertyVals[casePropertyIndex].casePropertyId;
		result.ruleName = casePropertyVals[casePropertyIndex].casePropertyName;

		var html = '<select data-placeholder="选择属性名称..." class="form-control chosen-select-2" style="width:240px;" tabindex="2">' +
			'<option value="">请选择属性名称</option>';
		casePropertyVals[casePropertyIndex].propertyVals.forEach(function (casePropertyVal) {
			html += '<option value="1">' +
				casePropertyVal.value +
				'</option>';
		});
		html += '</select>';
		$(".property_2").html(html);
		$(".chosen-select-2").on('change', function () {
			var casePropertyValIndex = $('option:selected', '.chosen-select-2').index() - 1;
			if (casePropertyValIndex < 0) {
				result.id = null;
				result.value = null;
				return;
			}
			result.id = casePropertyVals[casePropertyIndex].propertyVals[casePropertyValIndex].id;
			result.value = casePropertyVals[casePropertyIndex].propertyVals[casePropertyValIndex].value;
		});
	});

	$("#cancel").click(function () {
		var index = parent.layer.getFrameIndex(window.name);
		parent.layer.close(index, 0);
	});

	$('#save').on('click', function () {
		if (caseTypeName == "") {
			layer.msg('您还未输入菜类名称', {time: 1000}, function () {
				//parent.location.reload(); // 父页面刷新
			});
			return;
		}
	});

	var resultData = function () {
		return result;
	}

	$(function () {
		document.onkeydown = function (e) {
			var ev = document.all ? window.event : e;
			if (ev.keyCode == 13) {
				$('#save').click();
			}
		}
	});
</script>
</body>

</html>