<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="css/style.css?v=4.1.0" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">

    <style type="text/css">

        .close i {
            color: #000;
        }

        .func-wrapper {
            position: relative;
            margin-left: 5px;
            float: left;
            width: 45px;
            height: 45px;
            background-color: #D8D8D8
        }

        .func-title {
            justify-content: center;
            align-items: center;
            display: flex;
            width: 100%;
            height: 15px;
            background-color: #676A6C;
            position: absolute;
            bottom: 0px
        }

        .func-title h {
            width: auto;
            height: auto;
            color: #ffffff;
            font-size: 11px;
        }

        .delete-shadow {
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            bottom: 0px;
            width: 100%;
            height: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><%=title%></h5>
                    <div class="ibox-tools">
                        <a class="close">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div id="container" class="ibox-content">

                    <div class="form-horizontal">
                        <div class="form-group">
                            <% if (locals.success) { %>
                            <div id="alt_sucess" class="alert alert-success">
                                <%- success %>
                            </div>
                            <% } %>

                            <% if (locals.error) { %>
                            <div id="alt_warning" class="alert alert-warning">
                                <%= error %>
                            </div>
                            <% } %>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">版本描述</label>
                            <div class="col-sm-10">
                                <textarea id="funcDesc" name="funcDesc" class="form-control" required=""
                                          aria-required="true" style=" height: 118px;">
                                    <%= edition.dataValues.editionDesc%>
                                </textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">联系电话</label>

                            <div class="col-sm-10">
                                <input id="phoneNum" name="phoneNum" type="number" class="form-control"
                                       placeholder="请输入联系电话" required="required">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">功能添加</label>

                            <div class="col-sm-10">
                                <!--<button class="btn btn-primary shop-detail" type="button">&nbsp;模块添加-->
                                <!--</button>-->
                                <div class="func-wrapper" onmouseover="omover()" onmouseout="omout()">
                                    <img style="width: 100%;height: 100%;" src="d0395fd7c45459b6896837a756934758.png">
                                    <div class="func-title">
                                        <h>点单</h>
                                    </div>
                                    <div class="delete-shadow">
                                        <img src="images/delete_icon.png" style="width: 25px;height: 55.5%;">
                                    </div>
                                </div>
                                <div class="func-wrapper" onmouseover="omover()" onmouseout="omout()">
                                    <img style="width: 100%;height: 100%;" src="d0395fd7c45459b6896837a756934758.png">
                                    <div class="func-title">
                                        <h>点单</h>
                                    </div>
                                    <div class="delete-shadow">
                                        <img src="images/delete_icon.png" style="width: 25px;height: 55.5%;">
                                    </div>
                                </div>
                                <div style="margin-left:5px;float: left; width: 45px;height: 45px;">
                                    <img style="width: 100%;height: 100%;" src="images/add_icon.png">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit" id="save">保存内容</button>
                                <button class="btn btn-white" type="button" id="cancel">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Web Uploader -->
<!-- 全局js -->
<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.6"></script>
<script src="js/plugins/layer/layer.min.js"></script>

<!-- 自定义js -->
<script src="js/regex/regex.js"></script>


<script type="text/javascript">

	$(".func-wrapper").hover(function () {
			$(this).find('.delete-shadow').animate({height: "100%"}, "fast");
		},
		function () {
			$(this).find('.delete-shadow').animate({height: "0px"}, "fast");
		})

	$(".close").click(function () {
		history.back(-1);
	});

	$("#cancel").click(function () {
		history.back(-1);
	});

	$("#save").click(function () {
		var userName = $("#userName").val();
		var password = $("#password").val();
		var phoneNum = $("#phoneNum").val();
		var authorityId = $('#authority_select option:selected').val();
		var authority = $('#authority_select option:selected').text();
		var editionId = $('#edition_select option:selected').val();
		var edition = $('#edition_select option:selected').text();

		if (userName == "") {
			layer.msg('请输入账号名称', {time: 1000}, function () {
			});
			return;
		}

		if (password == "") {
			layer.msg('请输入用户密码', {time: 1000}, function () {
			});
			return;
		}

		if (phoneNum == "") {
			layer.msg('请输入联系电话', {time: 1000}, function () {
			});
			return;
		}

		var data = {
			userName: userName,
			password: password,
			phoneNum: phoneNum,
			authorityId: authorityId,
			authority: authority,
			editionId: editionId,
			edition: edition,
		}
		$.ajax({
			url: 'addNewAccount',//后台文件上传接口
			type: 'POST',
			data: data,
			success: function (data) {
				if (data.status == 0) {
					layer.msg(data.msg, {time: 1000, icon: 1}, function () {
						self.location = document.referrer;
					});
				}

			}
		});
	});
</script>
</body>

</html>