<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="css/fileinput/fileinput.min.css" rel="stylesheet">
    <link href="css/style.css?v=4.1.0" rel="stylesheet">
    <link href="themes/explorer/theme.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="js/fileinput/plugins/sortable.js" type="text/javascript"></script>
    <script src="js/fileinput/fileinput.js" type="text/javascript"></script>
    <script src="themes/explorer/theme.js" type="text/javascript"></script>

    <style type="text/css">
        div.upload {
            width: 100%;
            height: 150px;
            border: 2px dashed #e6e6e6;
            text-align: center;
            background: url(../../../img/defaut_image_icon.png) center no-repeat;
            color: #cccccc;
            font-size: 18px;
            position: relative;
            margin-bottom: 10px;
        }

        img.fileImage {
            width: 100%;
            height: auto;
            position: relative;
            margin-bottom: 10px;
            display: none;
        }

        .close i {
            color: #000;
        }

    </style>

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><%=title%></h5>
                    <div class="ibox-tools">
                        <a class="close">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div id="container" class="ibox-content">
                    <form id="module_form" enctype="multipart/form-data" method="post" action="addFuncModule"
                          class="form-horizontal">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">模块图标</label>

                                <div class="col-sm-3">
                                    <img id="fileImage" class="fileImage" src="">

                                    <div id="upload" class="upload">
                                    </div>
                                    <div class="btns_container">
                                        <input id="imageFile" name="imageFile" type="file" class="file"
                                               data-show-preview="false">
                                        <!--<button id="btnSub" class="btn btn-primary" type="submit">上 传</button>-->
                                    </div>
                                </div>
                            </div>
                            <input value="<%=func == null ? '' : func.dataValues.funcId%>" name="funcId" type="number"
                                   class="form-control"
                                   required="required" style="display: none">
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">名称</label>

                                <div class="col-sm-10">
                                    <input id="moduleName" name="moduleName" type="text" class="form-control"
                                           placeholder="请输入模块名称" required="required"
                                           value="<%= func == null ? '' : func.dataValues.funcName%>">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">价格</label>

                                <div class="col-sm-10">
                                    <input id="moduleField" name="moduleField" type="text" class="form-control"
                                           placeholder="请输入字段名称" required="required"
                                           value="<%= func == null ? '' : func.dataValues.funcField%>">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">描述</label>
                                <div class="col-sm-10">
                                    <input id="moduleDesc" name="moduleDesc" type="text" class="form-control"
                                           placeholder="请输入模块描述" required="required"
                                           value="<%= func == null ? '' : func.dataValues.funcDesc%>">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">内容</label>
                                <div class="col-sm-10">
                                    <input id="moduleDesc" name="moduleDesc" type="text" class="form-control"
                                           placeholder="请输入模块描述" required="required"
                                           value="<%= func == null ? '' : func.dataValues.funcDesc%>">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit" id="save">保存内容</button>
                                    <button class="btn btn-white" type="button" id="cancel">取消</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Web Uploader -->
<!-- 全局js -->
<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.6"></script>
<script src="js/fileinput/fileinput.min.js"></script>

<script type="text/javascript">
	var isAmending = "<%= func == null ? false : true%>";
</script>

<script src="js/plugins/imageUploader/fileUploader.js"></script>

<!-- 自定义js -->
<script src="js/plugins/layer/layer.min.js"></script>
<script src="js/plugins/validate/jquery.validate.min.js"></script>
<script src="js/plugins/validate/messages_zh.min.js"></script>
<script src="js/validate/validate.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/regex/regex.js"></script>

<script type="text/javascript">

	var imageName = "<%= func == null ? '' : func.dataValues.funcIconPath%>";
	var operateSelect = "<%= func == null ? '' : func.dataValues.isOperating%>";

	if (imageName) {
		$(".btns_container").css('display', 'block');
		$("#fileImage").attr('src', imageName);
		$(".upload").css('display', 'none');
		$(".fileImage").css('display', 'block');
	} else {
		$(".btns_container").css('display', 'block');
	}

	$("#operateSelect option[value='" + operateSelect + "']").prop('selected', true);

	jQuery.validator.addMethod("isEnglish", function (value, element) {
		return this.optional(element) || validateUtil.checkEnglishField(value);
	}, "请正确输入模块字段");

	$('#module_form').validate({
		errorPlacement: function (error, element) {
			element.before(error)
		},
		rules: {
			moduleName: {
				required: true,
			},
			moduleDesc: {
				required: true,
			},
			moduleField: {
				required: true,
				isEnglish: true
			},
		},
		messages: {
			moduleName: {
				required: "请输入模块名称",
			},
			moduleDesc: {
				required: "请输入模块描述",
			},
			moduleField: {
				required: "请输入字段名称",
				isEnglish: "请输入正确的字段名称"
			},
		},
	});

	$(".close").on('click', function () {
		history.back(-1);
	});

	$("#cancel").on('click', function () {
		history.back(-1);
	});

	$('#save').on('click', function () {
		var imageFileVal = $('#imageFile').val(),
			errorTip = '<div id="errorTip" class="alert alert-warning">{0}</div> ';

		$("#errorTip,#alt_warning").remove();

		if (imageFileVal.length == 0 && !$("#fileImage").attr("src")) {
			$("#container").prepend(errorTip.format('请选择要上传的文件'));
			window.scroll(0, 0);
			return false;
		}
		if (imageFileVal.length != 0) {
			var extName = imageFileVal.substring(imageFileVal.lastIndexOf('.'), imageFileVal.length).toLowerCase();

			if (extName != '.png' && extName != '.jpg' && extName != '.jpeg') {
				$("#container").prepend(errorTip.format('只支持png和jpg格式图片'));
				window.scroll(0, 0);
				return false;
			}
		}

		var options = {
			url: 'addFuncModule',
			type: 'post',
			async: true,
			cache: false,
			contentType: false,
			processData: false,
			success: function (data) {    //成功执行的方法
				if (data.status == 0) {
					layer.msg(data.msg, {time: 1000, icon: 1}, function () {
						self.location = document.referrer;
					});
				}
			}
		};
		$('#module_form').ajaxSubmit(options);
		return false;//阻止自动提交
	});
</script>
</body>

</html>